# 1. **Read the file 'data.xyz' attached with the document which has xyz data with respect to different timestamps. Segment at 18:51:35.232 and 19:02:14.621 and give the output as three segments.**

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.xyz', sep="\s+")
df["Timestamp"] =pd.to_datetime(df["Timestamp"], format=("%H:%M:%S.%f"))

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-3945208493.py:1: SyntaxWarning: invalid escape sequence '\s'
  df = pd.read_csv('data.xyz', sep="\s+")

In [5]:
segment_1_end = pd.to_datetime("18:51:35.232", format="%H:%M:%S.%f")
segment_2_end = pd.to_datetime("19:02:14.621", format="%H:%M:%S.%f")

In [7]:
segment_1 = df[df["Timestamp"] <= segment_1_end]
segment_2 = df[(df['Timestamp'] > segment_1_end) & (df["Timestamp"] <= segment_2_end)]
segment_3 = df[df["Timestamp"] > segment_2_end]

In [8]:
segment_1.to_csv("segment_1.xyz", sep=" ", index=False)
segment_2.to_csv("segment_2.xyz", sep=" ", index=False)
segment_3.to_csv("segment_3.xyz", sep=" ", index=False)

In [9]:
print("Data segmented successfully !!")

Data segmented successfully !!

In [10]:
sg_1 = pd.read_csv("segment_1.xyz", sep="\s+")
sg_2 = pd.read_csv("segment_2.xyz", sep="\s+")
sg_3 = pd.read_csv("segment_3.xyz", sep="\s+")

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-2582825762.py:1: SyntaxWarning: invalid escape sequence '\s'
  sg_1 = pd.read_csv("segment_1.xyz", sep="\s+")
/tmp/ipython-input-2582825762.py:2: SyntaxWarning: invalid escape sequence '\s'
  sg_2 = pd.read_csv("segment_2.xyz", sep="\s+")
/tmp/ipython-input-2582825762.py:3: SyntaxWarning: invalid escape sequence '\s'
  sg_3 = pd.read_csv("segment_3.xyz", sep="\s+")

In [12]:
print(sg_1)

                 Timestamp      X      Y      Z
0  1900-01-01 18:45:07.201 -7.396  4.568 -9.270
1  1900-01-01 18:45:16.388  7.461 -3.449  8.133
2  1900-01-01 18:45:31.066  1.228  3.180  8.259
3  1900-01-01 18:47:43.177  7.537  6.751  8.921
4  1900-01-01 18:48:49.260 -4.865 -5.609 -2.543
5  1900-01-01 18:49:53.008  1.245 -3.183 -9.953
6  1900-01-01 18:51:13.471  8.624 -8.502 -7.813

In [13]:
print(sg_2)

                  Timestamp      X      Y      Z
0   1900-01-01 18:52:37.480 -8.693 -3.160  9.264
1   1900-01-01 18:53:53.468  9.535  7.793  9.318
2   1900-01-01 18:55:03.970 -1.752  2.860 -7.613
3   1900-01-01 18:55:32.204  4.966 -6.363 -7.225
4   1900-01-01 18:57:54.240  8.098  6.926  8.954
5   1900-01-01 18:59:48.244 -6.042  5.992 -1.762
6   1900-01-01 18:59:54.597  0.084  1.198 -7.562
7   1900-01-01 19:00:17.628 -6.715  9.158  4.910
8   1900-01-01 19:00:23.301 -4.430  3.792  7.241
9   1900-01-01 19:01:49.348  6.902 -5.871  5.022
10  1900-01-01 19:02:00.846 -0.131  2.342 -6.806
11  1900-01-01 19:02:05.090  4.444 -0.153 -2.523

In [14]:
print(sg_3)

                 Timestamp      X      Y      Z
0  1900-01-01 19:02:46.688 -1.347 -3.183  8.933
1  1900-01-01 19:03:13.271  0.672 -8.440  9.928
2  1900-01-01 19:03:15.165 -3.130 -5.376  6.052
3  1900-01-01 19:03:59.592  1.950  0.026 -9.249
4  1900-01-01 19:04:27.079 -3.174 -2.984  9.533